header {
  background-color: #c29200; /* This sets the background color of the header to #c29200 */
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png"); 
  /* This sets the background image of the header */
  background-repeat: repeat; /* This specifies that the background image should repeat */
  background-size: auto; /* This sets the background image size to auto */
  display: flex; /* This sets the display property of the header to flex */
  flex-direction: column; /* This sets the flex direction of the header to column */
  align-items: center; /* This horizontally aligns the items inside the header to the center */
  justify-content: center; /* This vertically aligns the items inside the header to the center */
}

header img {
  display: block; /* This sets the display property of the header image to block */
  margin: 0 auto; 
  /* This centers the header image horizontally by setting the left and right margin to auto */
}

header h2 {
  text-align: center; /* This centers the text inside the h2 element horizontally */
}
