nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 0 1.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav span {
  font-family: "Bungee", sans-serif;
  font-size: 24px;
}

.right-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.prompt-tweet {
  font-family: "Source Sans Pro";
  margin-bottom: 5px;
}

.fa-angle-double-down {
  font-size: 24px;
  color: red;
  margin-right: 100px;
}
