.new-tweet {
  background-color: #f2f2f2;
  border-radius: 10px;
  padding: 20px;
}

.new-tweet h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.new-tweet form {
  display: flex;
  flex-direction: column;
}

.new-tweet label {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 5px;
}

.new-tweet textarea {
  height: 100px;
  margin-bottom: 10px;
  border: none;
  border-bottom: 2px solid black;
  resize: none;
  font-size: 16px;
  padding: 8px;
  background-color: transparent;
}


.new-tweet button[type="submit"] {
  background-color: #4056A1;
  color: white;
  border: none;
  border-radius: 50px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  font-family: "Bungee", sans-serif;
}

.new-tweet button[type="submit"]:hover {
  font-family: "Bungee", sans-serif;
  background-color: #4056A1;
}

.new-tweet .counter {
  font-size: 14px;
  color: #999;
  margin-top: 5px;
}