/* Responsive.css */

/* Desktop */
@media (min-width: 1024px) {
  body {
    display: flex;
    flex-direction: row;
    align-items: flex-start; /* Align items at the start of the container */
    justify-content: space-evenly;
    height: 100vh; /* You may need to set the height to ensure the main container has room to scroll */
    overflow: hidden; /* Disalbe scrolling everywhere but the .main-container */
  }

  .main-container {
    margin-top: 7.5rem;
    width: 60%;
    justify-content: space-between;
    height: 100%; /* Ensure the main-container has enough height */
    overflow-y: auto; /* Add scrolling if necessary */
  }

  header {
    align-items: center;
    position: sticky;
    top: 0;
    height: 25rem;
    width: 30%;
    margin-top: 10rem;
    overflow: hidden; /* Disable scrolling entirely */
  }
}



/* Mobile and Tablet */
@media (max-width: 1023px) {
  header {
    margin-top: 120px;
  }

  nav {
    background-color: #c29200; 
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png"); 
  }

  nav span {
    text-align: center;
    font-size: 1.25rem;
  }

  .right-content {
    margin-top: 1.5rem;
    flex-direction: column;
    align-items: center;
  }

  .fa-angle-double-down {
    margin-right: 0;
    margin-bottom: 1rem;
    font-size: 1rem;
  }

  .new-tweet,
  #tweets-container {
    max-width: 100%;
    padding: 0 15px;
    flex-direction: column;
  }

  .prompt-tweet {
    margin-bottom: 0.625rem;
  }
}

/* CSS Adjustments for better responsiveness */
.new-tweet form,
.tweet-footer {
  justify-content: space-between;
  flex-wrap: wrap;
}

.new-tweet button[type="submit"],
.tweet-footer .tweet-actions {
  margin-top: 10px;
}

.tweet .icon-container,
.tweet-footer {
  align-items: flex-start;
}

.tweet .icon-container img {
  margin-right: 10px;
}

.tweet-content {
  margin-bottom: 10px;
}
